/* Styles */

@font-face {
    font-family: 'MD-IO';
    src: url('/assets/type/MD_IO.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Analo Grotesk';
    src: url('/assets/type/Analo_Grotesk.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --body-font: 'MD-IO', Helvetica, Arial, sans-serif;
    --body-font-size: clamp(1rem,3vw,1.025rem);
    --body-font-size-small: clamp(.8rem,3vw,.9rem);
    --heading-font: 'Analo Grotesk', Helvetica, Arial, sans-serif;
    --button-font-size: clamp(.9rem,4vw,2.25rem);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    overscroll-behavior: none;
}

html {
    font-size: 16px;
    cursor: url('/assets/graphics/point.svg') 5 -5, auto;
}    

html a:hover, button:hover, .bunch-of-buttons .button:hover,.theme-o-matic .button-wrap:hover, div.essential_audio > div:nth-child(1) div.off, div.essential_audio > div:nth-child(1) div.play, div.essential_audio > div:nth-child(1) div.load,.hover-text {
    cursor: url('/assets/graphics/hover.svg') 5 -5, auto;
}

body {
    z-index: 0;
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--background-color);
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

header, footer {
    display: flex;
    position: fixed;
    left: 0;
    z-index: 10;
    width: 100%;;
    height: 4rem;
    font-family: var(--heading-font);
    font-size: var(--button-font-size);
    color: var(--primary-color);
    background-color: var(--background-color);
}

header {
    top: 0;
    box-shadow: inset 0 .125rem 0 var(--primary-color), inset 0 -.125rem 0 var(--primary-color);
}

.home-sweet-home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33%;
    box-shadow: inset -.125rem 0 0 var(--primary-color);
}

.theme-o-matic {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 66.67%;
    padding-right: 2rem;
}

.theme-o-matic .button-wrap {
    cursor: pointer;
}

.theme-o-matic button {
    font-family: var(--heading-font);
    font-size: var(--button-font-size);
    transition: color 0.3s ease-in-out;
}

/* Don't remove, keeps color on  page refresh */
.theme-o-matic .theme-text {
    color: var(--primary-color);
}

.theme-o-matic button.slide-out {
    animation: slideOut 0.2s ease-in-out forwards;
}

.theme-o-matic button.slide-in {
    animation: slideIn 0.2s ease-in-out forwards;
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-25%);
        opacity: 0;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.stuff {
    display: flex;
}

.stuff .sidebar-hoodoo {
    width: 33.33%; 
}

.sidebar-stuff {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    width: 33.33%;
    height: 100vh;
    box-shadow: inset -.125rem 0 0 var(--primary-color);
}

.bunch-of-buttons {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.bunch-of-buttons .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: clamp(1.5rem,6%,2.5rem) 0;
    box-shadow: inset 0 .125rem 0 var(--primary-color); /* top */
    font-family: var(--heading-font);
    font-size: var(--button-font-size);
}

.bunch-of-buttons .button:last-child {
    box-shadow: inset 0 .125rem 0 var(--primary-color), inset 0 -.125rem 0 var(--primary-color); /* top & bottom */
}

.bunch-of-buttons a.active {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.bunch-of-buttons .button:hover .inline-graphic {
    fill: var(--background-color) !important;
}

@keyframes slide { /* ghost */
    0%, 100% {
        transform: translateX(0); 
    }
    50% {
        transform: translateX(10px);
    }
}

main {
    display: flex;
    width: 66.67%;
    min-height: 100vh;
    min-height: 100dvh;
    box-shadow: inset 0 -.125rem  0 var(--primary-color);
}

.outer-stuff {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center; 
    width: 100%;
    max-height: calc(100vh - 4rem);
    max-height: calc(100dvh - 4rem);
    overflow-y: auto;
    margin-top: 4rem;
    padding: 4rem 2rem; 
}

.inner-stuff {
    max-width: 45rem;
}

footer {
    display: none;
}

section:not(:last-of-type) {
    padding-bottom: clamp(2rem,3vw,4rem); /* Writing page only */
}

.media {
    padding: 0 0 2rem; /* Readings page only */
}

.news-post {
    margin-bottom: 1.5rem; /* News page only */
}

p, li {
    font-family: var(--body-font);
    font-size: var(--body-font-size);
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
    margin: 0 0 1rem;
    color: var(--primary-color);
}

p.mini {
    font-size: var(--body-font-size-small);
}

p span:not(.dropcap) {
    color: var(--accent-color); /* For news dates */
}

p span:not(.dropcap)::after {
    content: "\00a0\00a0"; /* For news dates */
} 

a {
    display: inline; 
    position: relative;
    line-height: 1.6;
    text-decoration: none;
    color: var(--primary-color);
}

a:not(header a):not(footer a):not(.bunch-of-buttons a), button[type="submit"] {
    background-image: linear-gradient(transparent 80%, var(--accent-color) 80%);
    background-size: 100% 10px;
    background-repeat: repeat-x;
    background-position: 0 100%;
    padding-bottom: .15rem;
}

li {
    list-style: decimal;
    list-style-position: inside;
    margin: 1rem 0;
}

li span {
    color: var(--accent-color);
}

/* Writing page only */

#writing li:not(.link), #writing li:not(.link) a {
    list-style: none;
    pointer-events: none; 
    background: none !important; /* dead links */
} 

#writing li.link {
    list-style: none; /* live links */
}

/* ----------------- */

h2 {
    font-family: var(--heading-font);
    font-size: clamp(1.5rem,3vw,2rem);
    font-weight: 400;
    line-height: 1.2;
    font-style: normal;
    margin: 0 0 1.5rem;
    color: var(--primary-color);
}

h1 {
    font-family: var(--heading-font);
    font-size: clamp(2rem,4vw,3rem);
    font-weight: 500;
    line-height: 1.2;
    font-style: normal;
    margin: 0 0 2rem;
    color: var(--primary-color);
}

hr {
    display: block;
    height: .125rem;
    margin: 3rem 0;
    background: var(--primary-color);
}

/* SVG s*/

#logo {
    width: auto;
    height: clamp(.9rem,3vw,1.5rem);
    margin-right: 1rem;
    margin-left: -1rem;
}

.graphic /*for imgs */, .inline-graphic {
    width: auto;
    height: clamp(2.5rem,3vw,2.75rem); /* skull, smiley */
}

.inline-graphic.ghost {
    width: auto;
    height: clamp(2rem,3vw,2.25rem);
    padding-left: .5rem;
    animation: slide 1.5s ease-in-out infinite;
}

.inline-graphic.rainbow {
    width: auto;
    height: clamp(1.25rem,2.5vw,1.65rem);
}

.inline-graphic.rgt-arrow {
    width: auto;
    height: clamp(.75rem,2.5vw,1.65rem);
}

.section-divider-thingy {
    text-align: center; /* bomb div */
}

.inline-graphic.bomb {
    width: auto;
    height: clamp(2.5rem,5vw,3rem);
    margin-top: clamp(3rem,3vw,4rem);
    margin-bottom: clamp(3rem,3vw,4rem);
}

#coda {
    text-align: center;
    margin-top: clamp(3rem,3vw,4rem);  /* div */
}

/* Rotate */

.rotate {
    display: inline-block;
    -webkit-animation: rotate 6s linear infinite;
    animation: rotate 6s linear infinite;
}

@-webkit-keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Mobile styles <1025px */
@media (max-width: 1024px) {
    #logo {
        margin-right: .5rem;
        margin-left: unset;
    }

    .home-sweet-home{
        width: 50%;
        justify-content: flex-start;
        padding: 0 1rem;
    }
    
    .theme-o-matic {
        display: flex;
        justify-content: center;
        justify-content: flex-end;
        width: 50%;
        padding: 0 1rem;
    }

    .sidebar-stuff, .sidebar-hoodoo {
        display: none;
    }

    main {
        width: 100%;
        border-bottom: unset;
    }

    .outer-stuff {
        max-height: calc(100vh - 8rem);
        max-height: calc(100dvh - 8rem);
        padding: 3rem 1rem;
    }

    footer {
        display: flex;
        bottom: 0;
        box-shadow: inset 0 -.125rem 0 var(--primary-color),inset 0 .125rem 0 var(--primary-color);
    }

    footer .bunch-of-buttons {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }

    footer .bunch-of-buttons .button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        box-shadow: unset;
        padding: unset; /* leave */
    }

    .bunch-of-buttons .button:nth-child(n+2) {
        box-shadow: inset .125rem  0 0 var(--primary-color);
    }
}

@media screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 0)  {
    header {
        margin-top: .0625rem;
    }
}